/* Default Style Setting */
:root {
  /* Font Family */
  --ff-general: 'Poppins', sans-serif;
  --ff-cursive: 'Pacifico', cursive;
  /* Font Size */
  --fs-4: 4rem;
  --fs-3: 3rem;
  --fs-2-5: 2.5rem;
  --fs-1-25: 1.25rem;
  --fs-1-1: 1.1rem;
  --fs-1: 1rem;
  --fs-0-8: 0.8rem;

  /* Letter spacing */
  --ls-100: 1.2px;

  /* Font Weight */
  --fw-900: 900;
  --fw-700: 700;
  --fw-600: 600;
  --fw-400: 500;
  --fw-400: 400;

  /* Text Color */
  --fc-100: rgb(238, 233, 233);
  --fc-200: rgba(218, 165, 32, 1);
  --fc-300: rgba(24, 26, 27, 0.8);

  /* Background Color */
  --fc-300: rgb(238, 233, 233);
  --bg-200: rgba(24, 26, 27, 1);
  --bg-100: rgba(218, 165, 32, 1);
  --bg-400: rgb(248, 184, 23);

  /* Box shadow */
  --box-shadow-light: rgba(0, 0, 0, 0.4) 0px 15px 20px -10px;
  --box-shadow: rgba(0, 0, 0, 0.5) 0px 15px 20px -10px;
  --box-shadow-top: rgba(0, 0, 0, 0.3) 0px 54px 55px, rgba(0, 0, 0, 0.3) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-track {
  background: black;
}


body {
  text-rendering: optimizeSpeed;
  line-height: 1.2;
  letter-spacing: 1.2px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

/* * RESET SETTING // https://piccalil.li/blog/a-modern-css-reset */
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

li {
  list-style-type: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-size: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */
/* RESET SETTING // https://piccalil.li/blog/a-modern-css-reset */